.containerAside { grid-area: aside;
    background-color: $color-primario;
    display: $d-flex;
    height: auto;
    padding: 50px;

    .fotoaside{
        position: relative;
        width: 600px;
        height: 400px;
        margin-right: 100px;
        margin-top: 100px;
    }

    .aside{
        color: $color-texto;
        background-color: $color-primario;
        margin: auto;

        .asideH2{
            font-size: 2.5rem;
            padding: 10px;
            margin: auto auto;
            font-family: 'Lato', sans-serif;
            text-align: $texto-centrado;
            font-weight: bold;
            color: grey;
        }

        h3{
            font-size: 3rem;
            font-weight: bolder;
        }

        .h3g{
            color: $color-secundario;
            font-family: 'Lato', sans-serif;
        }

        .h3p{
            color: #000000;
            font-family: 'Lato', sans-serif;
        }

        p{
            font-family: $tipografia-general;
            font-weight: 300;
            font-size:x-large;
            color: rgb(95, 94, 94);
            text-align: justify;
        }
        .prigsVioleta{
            color: #892be2da;
        }

        .botoninfo{
            background-color: blueviolet;
            border: none;
            width: 200px;
            height: 50px;
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-blanco;

            &:hover{
                background-color: #892be2a3;
                transition: 1s;
                color: rgba(255, 255, 255, 0.676);
            }

            a:hover{
                background-color: transparent;
                transition: 1s;
            }

            a:visited{
                background-color: #892be2a3;
                border: none;
            }
        }
    }
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width:0px) and (max-width:768px){
    .containerAside{
        .fotoaside{
            width: 100%;
            height: 200px;
            margin: 0 auto;
            justify-content: center;
        }

        .aside{ 
            .asideH2, .h3g, .h3p{
            font-size: 2rem;
            }
        
            p{
                font-size: 1.2rem;
            }

            .botoninfo{
                width: 6rem;
                height: 4rem;
                font-size: 1rem;
                text-align: $texto-centrado;
            }
        }
    }
}