.divHorarios{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 10px;
    height: auto;
}

.form-select{
    background-color: rgba(137, 43, 226, 0.81);
    color: white;
    font-size: 2rem;
    height: 100px;
    cursor: pointer;
}

.form-select:hover{
    background-color: rgba(255, 255, 255, 0.927);
    color: rgba(137, 43, 226, 0.81);
    border: none;
    transition: 0.5s;
}