.divIndex{
    .caja{
        display: table-cell;
        margin: 0 auto;
        padding: 10px;
        height: auto;

        .h2Caja{
            color: $color-secundario;
            text-align: center;
            padding: 2rem 2rem 1rem;
        }

        .pCaja{
            text-align: $texto-centrado;
            font-weight: 200;
            font-size: 1rem;
            padding: 2rem;
            font-family: $tipografia-alternativa;
            color: $color-texto;
            overflow: hidden;
        }

        hr{
            width: 100px;
            background-color: rgba(138, 13, 255, 0.705);
            margin: 0 auto;
        }
    }

    .caja2{
        @extend .caja;
        background-color: #efefef;        
    
        .h2Caja{
            @extend .h2Caja;
        }

        .pCaja{
            @extend .pCaja;
        }

        hr{
            width: 100px;
            background-color: rgba(138, 13, 255, 0.705);
            margin: 0 auto;
        }
    }
}




/*======================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width:0px) and (max-width:768px){
    .divIndex{
        .caja, .caja2{
            display:contents;

            h2{
                font-size: 2rem;
                text-align: $texto-centrado;
            }

            p{
                font-size: 1rem;
                text-align: $texto-centrado;
            }
        }
    }
}