.headerNav{
    background-color: #000000;
    width: 100%;

    .logo{
        font-family: $tipografia-general;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        font-weight: bold;
        padding: 20px;
    }

    .divNav{
        justify-content: space-evenly;

        .barraNav{
            text-decoration: none;
            display: inline-flex;
            color: $color-blanco;
            font-size: 2rem;
            font-family: $tipografia-general;
            font-weight: 700;
            
            li a{
                margin-block: 2px;
                text-decoration: none;
                color:#fff;
                position: relative;
                margin-top:10px; 

                &:hover{
                    background-color: $color-blanco;
                    color: #000;
                    transition: 1s;
                }
            }
        }
    }
}


/*=======================================================*/
/*MEDIA QUERY CELULAR*/
@media screen and (min-width:0px) and (max-width:768px){
    .headerNav{
        .divNav{    
            .barraNav{
                padding: 0;
                margin: 0;
                display: block;
            
                a{
                padding: 1px 20px;
                font-size: 1.5rem;
                text-align: $texto-centrado;
                text-decoration: none;
                }
            }
        }
    }
}