.mainHorarios{
    background-image: url(../Assets/img/horarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
    padding-top: 95px;
    color: 5px solid black;
}

.mainHorarios h1{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}