.mainClases{
    background: radial-gradient(circle, #333334, #565657, #7c7c7c, #a3a3a4, #cdcdcd), url(../Assets/img/clases.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    text-align: center;
    padding-top: 15px;

    .h1Clases{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40rem;
        margin-top: 70px;
        color: rgb(251, 251, 251);
    }
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
/*@media screen and (min-width:0px) and (max-width:540px){
    .