.mainClases{
    background-image: url(../Assets/img/clases.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    text-align: center;
    padding-top: 15px;

    .h1Clases{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 4rem;
        margin-top: 70px;
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 2px black;
    }
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width:0px) and (max-width:768px){
    .mainClases{
        .h1Clases{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 3rem;
            margin-top: 70px;
            color: rgb(255, 255, 255);
            -webkit-text-stroke: 2px black;
        }
    }
}