.divMain{
    .h1Main{
        font-size: 3.6rem;
        color: $color-blanco;
        text-align: $texto-centrado;    
        border-radius: 15px;
        padding: 10px;
        letter-spacing: 5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        &:hover{
            background-color: rgba(0, 0, 0, 0.759);
            transition: 2s;
        }
    }
    .clases{
    background-color: transparent;
    color: $color-blanco;
    font-family: $tipografia-general;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 2rem;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 0, 0, 0.754);
        transition: 1s;
        a:hover{
            background-color: transparent;
            color: $color-blanco;
            }
        }
    }
}


/*======================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width:0px) and (max-width:540px){
    .divMain{ 
        
        .h1Main{
        font-size: 2.2rem;
        }
    
        .clases{
            font-size: 1rem;
            text-align: $texto-centrado;
        }
    }
}