.mainClases{
    background-image: url(../Assets/img/clases.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    text-align: center;
    padding-top: 15px;
}

.h1Clases{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    margin-top: 70px;
    color: rgb(0, 0, 0);
}