@mixin clases-deportes{
        text-decoration: none;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-weight: bold;
        border-radius: 20px;
}