@media screen and (min-width:0px) and (max-width:540px){
    .barraNav{
        padding: 0;
        margin: 0;  
    }

    .barraNav a{
        padding: 1px;
        font-size: 1.5rem;
        text-align: center;
    }

    .main h1{
        font-size: 2.2rem;
    }

    .main .clases{
        font-size: 1.2rem;
        text-align: center;
    }

    .fotoaside{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        justify-content: center;
    }
        
    .containerAside{
        width: 100%;
        height: auto;
    }
    
    .asideH3, .h2g{
        font-size: 2rem;
    }

    .aside p{
        font-size: 1.2rem;
    }
    
    .aside button{
        width: 5rem;
        height: 2.5rem;
        margin-left: 35%;
    }
    
    .aside a{
        font-size: 0.8rem;
    }
    
    .caja, .caja2{
        display:contents;
    }

    .caja h2{
        font-size: 2rem;
    }

    .caja2 h2{
        font-size: 2rem;
    }

    .caja p{
        font-size: 1rem;
    }

    .caja2 p{
        font-size: 1rem;
    }

    .caja h2, .caja2 h2{
        text-align: center;
    }

    .div .container-fluid{
        margin: 0 auto;
        padding: 0;
    }
            
    html, body, header, main, div, aside, footer img{
        width: 100%;
        height: auto;
    }
    
    .sectionClases {
        width: auto;
        display: block;
    }

    .col img{
        width: 100%;
    }

    .sectionClases div{
        width: 100%;
        display: block;
    }

    .aCrossfit, .aFuncional, .aGimnasio, .aBoxeo{
        font-size: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times NewRoman', serif;   
    }

    .sectionNosotros{
        width: 100%;
    }

    iframe{
        width: 100%;
    }

    .imgNosotros{
         width: 100%;
         display: block;
         text-align: center;
    }

    .prigsH2{
        font-size: 2rem;
    }

    .footer{
        width: 100%;
    }

    .footer img{
        justify-content: space-between;
        float: right;
        padding: 5px;
        margin: auto;
    }
}