.bodyNosotros{
    .fondoNosotros{
    background-color: #000000;
        
    .logo{
        text-decoration: none;
        font-family: $tipografia-general;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        padding: 20px;
        }

        .barraNosotros{
            margin-left: 31rem;

            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 2rem;
                font-family: 'Playfair Display', serif;
                margin: auto;
                font-weight: 700;
                letter-spacing: 2px;

                &:hover{
                    background-color: #ffffff6f;
                    color: white;
                    border-radius: 100px;
                    transition: 1s;
                }
            }
        }
    }

    .somos{
        background-image: url(../Assets/img/nosotros.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25vh;
        color: white;
        text-align: center;
        padding-top: 90px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .divNosotros{
        background-color: #efefef;

        .somosPRIGS{
            font-family: 'Montserrat', sans-serif;
            color: #3f3f3f;
            padding: 3rem;

            .prigsH2{
                color: black;
                font-weight: bold;
                padding: 0.5rem;
            }
        }
    }
}