.bodyNosotros{
    .fondoNosotros{
    background-color: #000000;
    width: 100%;
        
        .logo{
            text-decoration: none;
            font-family: $tipografia-general;
            color: $color-blanco;
            font-size: 2rem;
            font-weight: bold;
            padding: 20px;
        }

        .barraNosotros{
            justify-content: space-evenly;
            
            a{
                text-decoration: none;
                color: $color-blanco;
                font-size: 2rem;
                font-family: $tipografia-general;
                margin: auto;
                
                &:hover{
                    background-color: #ffffff6f;
                    color: $color-blanco;
                    border-radius: 100px;
                    transition: 1s;
                }
            }
        }
    }

    .somos{
        background-image: url(../Assets/img/nosotros.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25vh;
        color: $color-blanco;
        text-align: center;
        padding-top: 90px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        -webkit-text-stroke: 1px black;
    }

    .sectionNosotros{
        background-color: $color-primario;

        .col{
            padding-top: 1rem;
            text-align: center;

            iframe{
                text-align: center;
            }
        }

        .imgNosotros{
            width: auto;
        }

        .somosPRIGS{
            font-family: 'Montserrat', sans-serif;
            color: #3f3f3f;
            padding: 3rem;

            .prigsH2{
                color: black;
                font-weight: bold;
                padding: 0.5rem;
            }

            .prigsH3{
                color: black;
                font-weight: bold;
                padding: 0.5rem;
                display: inline-block; 
                padding-left: 0.5rem;                
            }
            
            .pNosotros{
                text-align: justify;
            }

            .check{
                width: 2rem;
            }
        }

        .youtube{
            text-align: center;
        }
    }
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width:0px) and (max-width:768px){
    .fondoNosotros{
        .barraNosotros{
            a{
                text-align: $texto-centrado;
                color: white;
            }
        }
    }

    .sectionNosotros{
        .divNosotros{
            .col{
                width: 100%;
                    
                iframe{
                    width: 100%;
                }
            }

            .somosPRIGS{
                .col{
                    width: 100%;

                    .imgNosotros{
                        width: map-get($img, width);
                        display: map-get($img, display);
                        text-align: map-get($img, $texto-centrado);
                    }
                }
                
                .prigsH2{
                    font-size: 1.6rem;
                    text-align: center;
                }

                .prigsH3{
                    text-align: center;
                }

                .pNosotros{
                    text-align: justify;
                }

                .check{
                    width: 2rem;
                }
            }
            
            .youtube{
                width: 100%;
                iframe{
                    width: 100%;
                }
            }   
        }
    }
}
