.sectionClases{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #efefefc3;

    .aCrossfit{
        text-decoration: none;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-weight: bold;
        position: relative;

        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: #ffffff;
            transition: 0.5s;
            border-radius: 10px;
        }
    }

    .aFuncional{
        text-decoration: none;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-weight: bold;
        position: relative; 

        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: #ffffff;
            transition: 0.5s;
            border-radius: 10px;
        }
    }

    .aGimnasio{
        text-decoration: none;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-weight: bold;
        position: relative;

        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: #ffffff;
            transition: 0.5s;
            border-radius: 10px;
        }
    }

    .aBoxeo{
        text-decoration: none;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        font-weight: bold;
        position: relative;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: #ffffff;
            transition: 0.5s;
            border-radius: 10px;
        }
    }
}