.sectionClases{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #efefefc3;

    .aCrossfit{
        @include clases-deportes;

        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: $color-blanco;
            transition: 0.5s;
            border-radius: 10px;
        }
    }

    .aFuncional{
        @include clases-deportes;

        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: $color-blanco;
            transition: 0.5s;
            border-radius: 10px;
        }
    }

    .aGimnasio{
        @include clases-deportes;

        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: $color-blanco;
            transition: 0.5s;
            border-radius: 10px;
        }
    }

    .aBoxeo{
        @include clases-deportes;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.88);
            color: $color-blanco;
            transition: 0.5s;
            border-radius: 10px;
        }
    }
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width:0px) and (max-width:540px){
    .sectionClases {
        .col{
        width: 100%;
        display: block;
            img{
                width: 100%;
            }
            .aCrossfit, .aFuncional, .aGimnasio, .aBoxeo{
                font-size: 2rem;
                font-family: Cambria, Cochin, Georgia, Times, 'Times NewRoman', serif;   
            }
        
        }
    }
}