/*Variables*/
$color-primario: #efefef;
$color-secundario: #6b21b1ca;
$color-texto: #7d7d7d;
$color-blanco: #ffffff;

$texto-centrado: center;

$d-flex: flex;

$tipografia-general: 'Playfair Display', serif;
$tipografia-alternativa: 'Roboto', sans-serif;

/*MAPS*/
$img: (
    width: 100%,
    display: block,
    $texto-centrado,
);