@import "variables.scss";
@import "reset.scss";
@import "utilidades.scss";
@import "body.scss";
@import "header.scss";
@import "section.scss";
@import "aside.scss";
@import "divDeportes.scss";
@import "footer.scss";

/*=======================================================*/
/*SCSS NOSOTROS*/
@import "nosotros.scss";

/*=======================================================*/
/*CSS CLASES*/
@import "mainClases.scss";
@import "sectionClases.scss";

/*=======================================================*/
/*CSS HORARIOS*/
@import "mainHorarios.scss";
@import "sectionHorarios.scss";
@import "divHorarios.scss";

/*=======================================================*/
/*CSS CONTACTO*/
@import "bodyContacto.scss";
@import "divContacto.scss";

/*======================================================*/
/*MEDIA QUERY CELULAR*/

@media screen and (min-width:0px) and (max-width:540px){
    .barraNav{
        padding: 0;
        margin: 0;  
    }

    .barraNav a{
        padding: 1px;
        font-size: 1.5rem;
        text-align: center;
    }

    .main h1{
        font-size: 2.2rem;
    }

    .main .clases{
        font-size: 1.2rem;
        text-align: center;
    }

    .fotoaside{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        justify-content: center;
    }
        
    .containerAside{
        width: 100%;
        height: auto;
    }
    
    .asideH3, .h2g{
        font-size: 2rem;
    }

    .aside p{
        font-size: 1.2rem;
    }
    
    .aside button{
        width: 5rem;
        height: 2.5rem;
        margin-left: 35%;
    }
    
    .aside a{
        font-size: 0.8rem;
    }
    
    .caja, .caja2{
        display:contents;
    }

    .caja h2{
        font-size: 2rem;
    }

    .caja2 h2{
        font-size: 2rem;
    }

    .caja p{
        font-size: 1rem;
    }

    .caja2 p{
        font-size: 1rem;
    }

    .caja h2, .caja2 h2{
        text-align: center;
    }

    .div .container-fluid{
        margin: 0 auto;
        padding: 0;
    }
            
    html, body, header, main, div, aside, footer img{
        width: 100%;
        height: auto;
    }
    
    .sectionClases {
        width: auto;
        display: block;
    }

    .col img{
        width: 100%;
    }

    .sectionClases div{
        width: 100%;
        display: block;
    }

    .aCrossfit, .aFuncional, .aGimnasio, .aBoxeo{
        font-size: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times NewRoman', serif;   
    }

    .sectionNosotros{
        width: 100%;
    }

    iframe{
        width: 100%;
    }

    .imgNosotros{
         width: 100%;
         display: block;
         text-align: center;
    }

    .prigsH2{
        font-size: 2rem;
    }

    .footer{
        width: 100%;
    }

    .footer img{
        justify-content: space-between;
        float: right;
        padding: 5px;
        margin: auto;
    }
}


/*===============================================================*/
/*MEDIA QUERIE TABLET*/

@media screen and (min-width:540px) and (max-width:920px){
    .barraNav{
        padding: 0;
        margin: 0;
    }
    
    .barraNav a{
        font-size: 2rem;
        text-align: start;
    }

    .main h1{
        font-size: 3rem;
    }

    .main .clases{
        font-size: 1.5rem;
        text-align: center;
    }

    .fotoaside{
        width: 100%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
    }
    
    .containerAside{
        width: 100%;
        height: auto;
    }

    .asideH3{
        font-size: 3rem;
        font-weight: bold;
    }

    .aside h2{
        font-size: 3.5rem;
    }

    .aside p{
        font-size: 2rem;
    }

    .aside button{
        width: 10rem;
        height: 5rem;
        margin-left: 35%;
    }

    .aside a{
        font-size: 1.5rem;
    }

    .caja, .caja2{
        display:contents;
    }

    .caja p{
        font-size: 1.5rem;
    }

    .caja2 p{
        font-size: 1.5rem;
    }

    .caja h2, .caja2 h2{
        font-size: 3rem;
        text-align: center;
    }

    .sectionClases {
        width: auto;
        display: block;
    }

    .col img{
        width: 100%;
    }

    .sectionClases div{
        width: 100%;
        margin-top: 20px;
    }

    .aCrossfit, .aFuncional, .aGimnasio, .aBoxeo{
        font-size: 3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }

    .footer{
        width: 100%;
    }

    .footer img{
        justify-content: space-between;
        float: right;
        padding: 5px;
        margin-right: 165px;
    }

    .logo{
        font-size: 2.5rem;
    }

    h1{
        font-size: 3.5rem;
    }

    iframe{
        width: 100%;
    }

    .prigsH2{
        font-size: 2.8rem;
    }
    
    .imgNosotros{
        width: 100%;
        display: block;
        text-align: center;
    }
    
}


/*==============================================================*/
/*MEDIA QUERIE DESKTOP*/

@media (min-width:920px) and (max-width:1400px){
    .barraNav{
        padding: 0;
        margin: 0;
    }
    
    .barraNav a{
        font-size: 2rem;
        text-align: center;
        padding: 0;
    }

    .main h1{
        font-size: 4.5rem;
    }

    .main .clases{
        font-size: 2.5rem;
        text-align: center;
    }

    .fotoaside{
        width: 100%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
    }
    
    .containerAside{
        width: 100%;
        height: auto;
    }

    .asideH3{
        font-size: 3rem;
        font-weight: bold;
    }

    .aside h2{
        font-size: 3.5rem;
    }

    .aside p{
        font-size: 2rem;
    }

    .aside button{
        width: 10rem;
        height: 5rem;
        margin-left: 35%;
    }

    .aside a{
        font-size: 1.5rem;
    }

    .caja, .caja2{
        display:contents;
    }

    .caja p{
        font-size: 1.5rem;
    }

    .caja2 p{
        font-size: 1.5rem;
    }

    .caja h2, .caja2 h2{
        font-size: 3rem;
        text-align: center;
    }

    .sectionClases {
        width: auto;
        display: block;
    }

    .col img{
        width: 100%;
    }

    .sectionClases div{
        width: 100%;
        margin-top: 20px;
    }

    .aCrossfit, .aFuncional, .aGimnasio, .aBoxeo{
        font-size: 3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }

    .footer{
        width: 100%;
    }

    .footer img{
        justify-content: space-between;
        float: right;
        padding: 5px;
        margin-right: 165px;
    }

    .logo{
        font-size: 2.5rem;
    }

    .barraNav a{
        font-size: 2.5rem;
    }

    h1{
        font-size: 3.5rem;
    }

    iframe{
        width: 100%;
    }

    .prigsH2{
        font-size: 2.8rem;
    }
}