/*Variables*/
/*MAPS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.fondo {
  background-image: url(../Assets/img/headermain.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.fondo .logo {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

.divNav .barraNav {
  text-decoration: none;
  display: inline-flex;
  padding-left: 27.5rem;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 2px;
}
.divNav .barraNav a:hover {
  background-color: rgba(0, 0, 0, 0.568627451);
  transition: 1s;
  border-radius: 100px;
}

/*=======================================================*/
/*MEDIA QUERY CELULAR*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .fondo .barraNav {
    padding: 0;
    margin: 0;
    display: block;
  }
  .fondo .barraNav a {
    padding: 5px 30px;
    font-size: 1.5rem;
    text-align: center;
  }
}
.divMain .h1Main {
  font-size: 3.6rem;
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  animation-timing-function: ease-in-out;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.divMain .h1Main:hover {
  background-color: rgba(0, 0, 0, 0.759);
  transition: 2s;
}
.divMain .clases {
  background-color: transparent;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 2rem;
  transition: 0.5s;
  cursor: pointer;
}
.divMain .clases:hover {
  background-color: rgba(0, 0, 0, 0.754);
  transition: 1s;
}
.divMain .clases:hover a:hover {
  background-color: transparent;
  color: #ffffff;
}

/*======================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .divMain .h1Main {
    font-size: 2.2rem;
  }
  .divMain .clases {
    font-size: 1.2rem;
    text-align: center;
  }
}
.divIndex .caja, .divIndex .caja2 {
  display: table-cell;
  margin: 0 auto;
  padding: 10px;
  height: auto;
}
.divIndex .caja h2, .divIndex .caja2 h2 {
  color: rgba(107, 33, 177, 0.7921568627);
  text-align: center;
  padding: 2rem 2rem 1rem;
}
.divIndex .caja p, .divIndex .caja2 p {
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  color: #7d7d7d;
  overflow: hidden;
}
.divIndex .caja hr, .divIndex .caja2 hr {
  width: 100px;
  background-color: rgba(138, 13, 255, 0.705);
  margin: 0 auto;
}
.divIndex .caja2 {
  background-color: rgba(128, 128, 128, 0.243);
}
.divIndex h2 {
  color: rgba(107, 33, 177, 0.7921568627);
  text-align: center;
  padding: 2rem 2rem 1rem;
}
.divIndex p {
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  color: #7d7d7d;
  overflow: hidden;
}
.divIndex hr {
  width: 100px;
  background-color: rgba(138, 13, 255, 0.705);
  margin: 0 auto;
}

/*======================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .divIndex .caja, .divIndex .caja2 {
    display: contents;
  }
  .divIndex .caja h2, .divIndex .caja2 h2 {
    font-size: 2rem;
    text-align: center;
  }
  .divIndex .caja p, .divIndex .caja2 p {
    font-size: 1rem;
    text-align: center;
  }
}
.containerAside {
  grid-area: aside;
  background-color: #efefef;
  display: flex;
  height: auto;
  padding: 50px;
}
.containerAside .fotoaside {
  position: relative;
  width: 600px;
  height: 400px;
  margin-right: 100px;
  margin-top: 100px;
}
.containerAside .aside {
  color: #7d7d7d;
  background-color: #efefef;
  margin: auto;
}
.containerAside .aside .asideH2 {
  font-size: 2.5rem;
  padding: 10px;
  margin: auto auto;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: bold;
  color: grey;
}
.containerAside .aside h3 {
  font-size: 3rem;
  font-weight: bolder;
}
.containerAside .aside .h3g {
  color: rgba(107, 33, 177, 0.7921568627);
  font-family: "Lato", sans-serif;
}
.containerAside .aside .h3p {
  color: #000000;
  font-family: "Lato", sans-serif;
}
.containerAside .aside p {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: x-large;
  color: rgb(95, 94, 94);
  text-align: justify;
}
.containerAside .aside .botoninfo {
  background-color: blueviolet;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.containerAside .aside .botoninfo:hover {
  background-color: rgba(137, 43, 226, 0.6392156863);
  transition: 1s;
  color: rgba(255, 255, 255, 0.676);
}
.containerAside .aside .botoninfo a:hover {
  background-color: transparent;
  transition: 1s;
}
.containerAside .aside .botoninfo a:visited {
  background-color: rgba(137, 43, 226, 0.6392156863);
  border: none;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .containerAside .fotoaside {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
  }
  .containerAside .aside .asideH2, .containerAside .aside .h3g, .containerAside .aside .h3p {
    font-size: 2rem;
  }
  .containerAside .aside p {
    font-size: 1.2rem;
  }
  .containerAside .aside .botoninfo {
    width: 6rem;
    height: 4rem;
    font-size: 1rem;
    text-align: center;
  }
}
.footer {
  width: 100%;
  height: 140px;
  background-color: #000000;
  text-align: center;
}
.footer img {
  margin: auto;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .footer {
    width: 100%;
  }
  .footer img {
    justify-content: space-between;
    float: right;
    padding: 5px;
    margin: auto;
  }
}
/*=======================================================*/
/*SCSS NOSOTROS*/
.bodyNosotros .fondoNosotros {
  background-color: #000000;
}
.bodyNosotros .fondoNosotros .logo {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}
.bodyNosotros .fondoNosotros .barraNosotros {
  margin-left: 31rem;
}
.bodyNosotros .fondoNosotros .barraNosotros a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin: auto;
  font-weight: 700;
  letter-spacing: 2px;
}
.bodyNosotros .fondoNosotros .barraNosotros a:hover {
  background-color: rgba(255, 255, 255, 0.4352941176);
  color: #ffffff;
  border-radius: 100px;
  transition: 1s;
}
.bodyNosotros .somos {
  background-image: url(../Assets/img/nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  color: #ffffff;
  text-align: center;
  padding-top: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 1px black;
}
.bodyNosotros .divNosotros {
  background-color: #efefef;
}
.bodyNosotros .divNosotros .somosPRIGS {
  font-family: "Montserrat", sans-serif;
  color: #3f3f3f;
  padding: 3rem;
}
.bodyNosotros .divNosotros .somosPRIGS .prigsH2 {
  color: black;
  font-weight: bold;
  padding: 0.5rem;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .fondoNosotros .barraNav {
    position: relative;
  }
  .fondoNosotros .barraNav .barraNosotros {
    position: relative;
  }
  .fondoNosotros .barraNav .barraNosotros a {
    text-align: center;
  }
  .sectionNosotros iframe {
    width: 100%;
  }
  .sectionNosotros .imgNosotros {
    width: 100%;
    display: block;
  }
  .sectionNosotros .prigsH2 {
    font-size: 1.6rem;
  }
}
/*=======================================================*/
/*CSS CLASES*/
.mainClases {
  background-image: url(../Assets/img/clases.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  text-align: center;
  padding-top: 15px;
}
.mainClases .h1Clases {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
  margin-top: 70px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px black;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
/*@media screen and (min-width:0px) and (max-width:540px)*/
.sectionClases {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(239, 239, 239, 0.7647058824);
}
.sectionClases .aCrossfit {
  text-decoration: none;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  position: relative;
}
.sectionClases .aCrossfit:hover {
  background-color: rgba(0, 0, 0, 0.88);
  color: #ffffff;
  transition: 0.5s;
  border-radius: 10px;
}
.sectionClases .aFuncional {
  text-decoration: none;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  position: relative;
}
.sectionClases .aFuncional:hover {
  background-color: rgba(0, 0, 0, 0.88);
  color: #ffffff;
  transition: 0.5s;
  border-radius: 10px;
}
.sectionClases .aGimnasio {
  text-decoration: none;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  position: relative;
}
.sectionClases .aGimnasio:hover {
  background-color: rgba(0, 0, 0, 0.88);
  color: #ffffff;
  transition: 0.5s;
  border-radius: 10px;
}
.sectionClases .aBoxeo {
  text-decoration: none;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  position: relative;
}
.sectionClases .aBoxeo:hover {
  background-color: rgba(0, 0, 0, 0.88);
  color: #ffffff;
  transition: 0.5s;
  border-radius: 10px;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .sectionClases .col {
    width: 100%;
    display: block;
  }
  .sectionClases .col img {
    width: 100%;
  }
  .sectionClases .col .aCrossfit, .sectionClases .col .aFuncional, .sectionClases .col .aGimnasio, .sectionClases .col .aBoxeo {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times NewRoman", serif;
  }
}
/*=======================================================*/
/*CSS HORARIOS*/
.mainHorarios {
  background-image: url(../Assets/img/horarios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  text-align: center;
  padding-top: 95px;
  color: 5px solid black;
  -webkit-text-stroke: 1px white;
}
.mainHorarios h1 {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .mainHorarios {
    background-image: url(../Assets/img/horarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
    padding-top: 95px;
  }
  .mainHorarios h1 {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
}
.sectionHorarios {
  background-image: url(../Assets/img/fondohorarios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 59vh;
}
.sectionHorarios .divHorarios {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  height: auto;
}
.sectionHorarios .form-select {
  background-color: rgba(137, 43, 226, 0.81);
  color: #ffffff;
  font-size: 2rem;
  height: 100px;
  cursor: pointer;
}
.sectionHorarios .form-select:hover {
  background-color: rgba(255, 255, 255, 0.927);
  color: rgba(137, 43, 226, 0.81);
  border: none;
  transition: 0.5s;
}
.sectionHorarios .h2Gym {
  color: black;
  font-weight: bold;
  padding: 0.5rem;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .sectionHorarios .divHorarios {
    flex-direction: column;
  }
  .sectionHorarios .divHorarios .form-select {
    font-size: 1rem;
    height: 50px;
    cursor: pointer;
  }
  .sectionHorarios .divHorarios .form-select:hover {
    background-color: rgba(255, 255, 255, 0.927);
    color: rgba(137, 43, 226, 0.81);
    border: none;
    transition: 0.5s;
  }
  .sectionHorarios .divHorarios .form-select .opHorarios {
    margin: 0 auto;
  }
  .sectionHorarios .h2Gym {
    position: fixed;
  }
}
/*=======================================================*/
/*CSS CONTACTO*/
.bodyContacto {
  background-image: url(../Assets/img/headermain.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bodyContacto .logo {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}
.bodyContacto .barraNosotros {
  margin-left: 28rem;
}
.bodyContacto .barraNosotros a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin: auto;
  font-weight: 700;
  letter-spacing: 2px;
}
.bodyContacto .barraNosotros a:hover {
  background-color: rgba(255, 255, 255, 0.4352941176);
  color: #ffffff;
  border-radius: 100px;
  transition: 1s;
}
.bodyContacto .divContacto .form .formContacto .formH1 {
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.bodyContacto .form {
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.bodyContacto .form .form-label {
  display: block;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  font-weight: bold;
}
.bodyContacto .form .form-input, .bodyContacto .form .form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(118, 25, 176);
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.bodyContacto .form .form-textarea {
  resize: vertical;
  height: 125px;
  max-height: 150px;
  min-height: 50px;
}
.bodyContacto .form .btn-submit {
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  background: rgb(118, 25, 176);
  font-size: 1.25rem;
  border: none;
  color: #ffffff;
  padding: 15px 0;
  cursor: pointer;
}
.bodyContacto .form .btn-submit:hover {
  background-color: rgba(255, 255, 255, 0.501);
  color: rgb(118, 25, 176);
  transition: 0.5s;
}
.bodyContacto .form #nombre, .bodyContacto .form #correo, .bodyContacto .form #asunto {
  height: 50px;
}
.bodyContacto .form .formContacto {
  text-align: center;
}
.bodyContacto .form .formH1 {
  color: #ffffff;
  padding: 14px 0;
}

/*==================================================*/
/*MEDIA QUERY MOBILE*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .bodyContacto {
    background-image: url(../Assets/img/headermain.jpg);
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .bodyContacto .logo {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
  }
  .bodyContacto .barraNosotros {
    position: relative;
  }
  .bodyContacto .barraNosotros a {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 5rem;
  }
  .bodyContacto .divContacto .form .formContacto .formH1 {
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.8rem;
  }
  .bodyContacto .form {
    background: rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .bodyContacto .form .form-label {
    display: block;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: relative;
    font-weight: bold;
  }
  .bodyContacto .form .form-input, .bodyContacto .form .form-textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(118, 25, 176);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .bodyContacto .form .form-textarea {
    resize: vertical;
    height: 125px;
    max-height: 150px;
    min-height: 50px;
  }
  .bodyContacto .form .btn-submit {
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    outline: none;
    background: rgb(118, 25, 176);
    font-size: 1rem;
    border: none;
    color: #ffffff;
    padding: 15px 0;
    cursor: pointer;
  }
  .bodyContacto .form .btn-submit:hover {
    background-color: rgba(255, 255, 255, 0.501);
    color: rgb(118, 25, 176);
    transition: 0.5s;
  }
  .bodyContacto .form #nombre, .bodyContacto .form #correo, .bodyContacto .form #asunto {
    height: 50px;
  }
  .bodyContacto .form .formContacto {
    text-align: center;
  }
  .bodyContacto .form .formH1 {
    color: #ffffff;
    padding: 14px 0;
  }
}/*# sourceMappingURL=estilos.css.map */